@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fef0e5;
  position: relative;
  font-family: "Poppins", sans-serif;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 50px;
}

h1 {
  font-size: 26px;
  margin-bottom: 18px;
  color: #10162f;
}

form {
  padding: 0 4px 18px;
}

form p {
  margin-bottom: 18px;
  font-size: 14px;
}

form .email {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.email label {
  font-size: 14px;
}

.email input {
  height: 50px;
  width: 350px;
}

form .password {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
  font-size: 14px;
}

.password label {
  font-size: 14px;
}

.password input {
  height: 50px;
  width: 350px;
  font-size: 14px;
}

form a {
  padding: 0 0 8px 0;
  font-size: 14px;
  margin-bottom: 18px;
  cursor: pointer;
  color: #3a10e5;
  font-weight: 600;
}

form button {
  height: 40px;
  width: 80px;
  cursor: pointer;
  background-color: #3b10e4;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 18px;
}

.container .login-options {
  font-size: 15px;
  font-weight: 600;
  color: #10162f;
  margin-bottom: 18px;
}

.container .otherloginbuttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}

.otherloginbuttons .btn {
  height: 40px;
  width: 45px;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #fff;
}

.btn1 {
  background-image: url(images/google.png);
}

.btn2 {
  background-image: url(images/facebook.png);
}

.btn3 {
  background-image: url(images/linkedin.png);
}

.btn4 {
  background-image: url(images/github.png);
}

.btn5 {
  background-image: url(images/twitter.jpg);
  margin-left: 5px;
}

.btn1,
.btn2,
.btn3,
.btn4 {
  margin-right: 5px;
}

.sign-up {
  font-size: 14px;
}

.sign-up a {
  color: #3a10e5;
  font-weight: 600;
}
